doctype html(lang='en')
html
  head
    link(rel='stylesheet', type='text/css', href='/css/regteam-style.css')
    link(rel='stylesheet', type='text/css', href='/css/materialize.css')

  script(src="js/jquery.js")
  script(type='text/javascript', src='/js/materialize.js')
  script(src='/socket.io/socket.io.js')
  script(src="js/regteam-app.js")
  
  body
      header
        nav.z-depth-1
          .nav-wrapper.white
            a.brand-logo.center.black-text(href='/') DCSReGQ
            
            ul#nav-mobile.left.hide-on-med-and-down
              li
                a.black-text(href='#') classes
               
              li
                a.black-text(href='#') about
      
      main
        a.waves-effect.waves-light.btn.modal-trigger(href="#modal1") Modal
        #modal1.modal
          .modal-content.row.center
            h5 Your Control Number Is:

            h3#CN loading. . .
            .row
              button#close.btn.modal-action.modal-close.waves-effect.waves-green.btn-flat.red.lighten-3.center-align(type='button') Close

        form#formStation(action='/regteamadmin/createqueue',method='POST')
          .section
            .row
              .col.s4.offset-s1.hoverable.z-depth-1.blue.lighten-5
                h3.center-align Advising Enqueue Station
                .row
                  .input-field.col.s12
                    select(id="batchName")
                      option#defaultOptionAdv(value="default" selected disabled) Choose your batch
                      each item in adviseList
                        option(value="#{item}") #{item} 
                    label(for='batchName') Choose batch/year
                  .input-field.col.s12
                    input#adviseName.validate(type='text',name='name')
                    label(for='adviseName') Enter Complete Name

                .row
                  .col.s4.offset-s4
                    button#advise.waves-effect.waves-light.btn(type='button') Enqueue!
                if locals.message
                  p #{message}
                else
              .col.s4.offset-s2.hoverable.z-depth-1.blue.lighten-5
                h3.center-align Enlisting Enqueue Station
                .row
                  .input-field.col.s12
                    select(id="sections" multiple)
                      option#defaultOptionEn(value="default" selected disabled) Choose your subjects
                      each item in enlistList
                        option(value="#{item}") #{item} 
                    label(for='sections') Choose subjects
                  .input-field.col.s12
                    input#enlistName.validate(type='text',name='name')
                    label(for='enlistName') Enter Complete Name
                .row
                  .col.s4.offset-s4
                    button#enlist.waves-effect.waves-light.btn(type='button') Enqueue!
                
